extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    p ID: #{ tokenID } = RANK: #{ rank } (SCORE: #{ score })

  form(action='/#{ baseUrl }',method='post')
    label(for='tokenID') PK ID
      input(id='tokenID',type='text',value='',placeholder='tokenID',name='tokenID',role='button')
      input(type='submit',value='Get Rank',role='button')
