extends layout

block content
  h1= title
  p Welcome to #{title}

  article
    p ID: #{ tokenID }
    p RANK: #{ rank }
    p SCORE: #{ score }

  form(action='/#{ baseUrl }',method='post')
    label(for='tokenID') PK ID
      input(id='tokenID',type='text',value='',placeholder='tokenID',name='tokenID')
    input(type='submit',value='Get Rank')
