extends layout

block content
  h1= title

  p Currently there is a bug for IDs lower than 1000, apologize!
  p CDC API undocumented and sucks!
  
  form( action='/#{ baseUrl }', method='post' )
    div( class="grid" )
      select( name='collectionName' )
        option( selected= collectionName == 'Kitties' ) Kitties
        option( selected= collectionName != 'Kitties' ) Mollies
      input( id='tokenID', type='text', value='#{ !tokenID ? "" : tokenID }', placeholder='Token ID #', name='tokenID' )
      input( type='submit', value='Get Rank' )

  if tokenID

    article
      div( class="grid" )
        div Current Floor: #{ metrics.minSaleListingPriceDecimal } $
        div Current Total Owners: #{ metrics.owners }
        div Total Sales: #{ totalSales }
        
    article
      div
        p
          b #{ assetName }
      div( class="grid" )
        div Rank: 
          b #{ rank }
        div Score: #{ score }
        div Likes: #{ assetData.likes }
        div Views: #{ assetData.views }

    article
      div( class="grid" )
        div
          image( src='#{ assetData.cover.url }' )
        div 
          table
            thead
              tr
                th( scope="col" ) traitType
                th( scope="col" ) value
                th( scope="col" ) percentage
            each assetAttribute in assetAttributes
              tbody
                tr
                  th( scope="row" ) #{ assetAttribute.traitType }
                  th( scope="row" ) #{ assetAttribute.value }
                  th( scope="row" ) #{ assetAttribute.percentage }
