extends layout

block content
  h1= title
  
  form( action='/#{ baseUrl }', method='post' )
    div( class="grid" )
      input( id='tokenID', type='text', value='', placeholder='Token ID #', name='tokenID' )
      input( type='submit', value='Get Rank' )

  article
    div( class="grid" )
      p ID: #{ tokenID }
      p RANK: #{ rank }
      p SCORE: #{ score }

  
